body {
    display: flex;
    margin: 0px;
}

#background {
    height: 100vh;
}

#odin {
    position: absolute;
    top: 6vh;
    left: 8.8vh;
    height: 200px;
}

#odinContainer {
    position: absolute;
    top: 28vh;
    left: 17vh;
    background-color: #ffffff50;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
}

#header {
    padding: 50px;
    color: #999318;
    font-size: 2rem;
    text-align: center;
    text-shadow: -1px 1px 10px black;
}

fieldset {
    border: 0;
    padding: 15px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 115vh;
    height: 100vh;
    background-color: #103A4C;
    left: 70vh;
}

#form {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.535);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBoxes {
    box-sizing: border-box;
    display: block;
    border-radius: 7px;
    height: 30px;
    width: 200px;
    background-color: #4D1820;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
    margin-left: 20px;
    margin-right: 20px;
    color: #578498;
}

.inputBoxes:focus {
    outline: none;
    border: 3px solid #999318;
}

.labels {
    color: #578498;
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
}

#fieldsetName,
#fieldsetContact,
#fieldsetPassword {
    display: flex;
}

#submit {
    width: 80px;
    height: 30px;
    border-radius: 10%;
    border: none;
    background-color: #999318;
    margin: 20px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

#submit:hover {
    background-color: #578498;
    box-shadow: 0 0 15px white;
}

#footer {
    padding: 50px;
    color: #578498;
    text-align: center;

}

a {
    color: gray;
}